/* This represents notes in CSS */

.meow {
    width: 300px;
    float: left;
}

.woof {
    float: right;
    width: 300px;
}

h1 {
    color: red;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family:  'Open Sans', sans-serif;
}